{% extends 'base.html' %}
{% block content %}

<div class="container profile-wrapper">

    <div class="profile-card">

        <h3 class="profile-title">Edit Profile</h3>

        <form method="POST" class="profile-form">

            <input type="text" name="name" placeholder="Full Name" value="{{ user[1] }}"
                class="form-control profile-input ">

            <input type="email" name="email" placeholder="Email" value="{{ user[2] }}"
                class="form-control profile-input">

            <hr>

            <h5>Change Password</h5>

            <input type="password" name="current_password" placeholder="Current Password"
                class="form-control profile-input">

            <input type="password" name="new_password" placeholder="New Password" class="form-control profile-input">

            <input type="password" name="confirm_password" placeholder="Confirm New Password"
                class="form-control profile-input">

            <button class="btn profile-btn-primary w-100">
                Update Profile
            </button>

        </form>

    </div>

</div>

{% endblock %}